// Colors
$white: #FFFFFF;
$black: #000000;
$navy: #003057;
$khaki: #BD9B60;
$beige: #EDEBE3;
$gray: #D9D9D6;
$darkgray: #A8A8A8;
$brown: #A1561C;
$peach: #ECC3B2;
$green: #00594F;
$evergreen: #00443E;


// Fonts
$base-font-size: 1.4rem;
$base-line-height: 1.5;
$header: 'BlaakBold';
$body: 'DM Sans', sans-serif;
$regular: 400;
$semibold: 600;
$bold: 900;
